* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: linear-gradient(to right, #ba5370, #f4e2d8);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  width: fit-content;
  font-family: "Courier New", Courier, monospace;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px 0;
  background: rgb(255, 0, 0);
  background: linear-gradient(
    90deg,
    rgb(255, 62, 62) 0%,
    rgba(255, 227, 2, 1) 50%,
    rgb(64, 216, 4) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  font-style: italic;
}

.quote {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 30px 0;
}

.input {
  width: 250px;
  font-size: 1.5rem;
  padding: 5px 12px;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  outline: none;
  margin-bottom: 60px;
}

.results {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
}
